<a class="name" href="{{url_for('entry_page', Slug=entry.slug)}}" alt="{{ entry.Slug }}">
  <li class="flex-item">
    <div id="quote-height">
      {% if entry.Audio == "none" %}
        <h4>"{{ entry.Quote }}"</h4>
        <h6><i>Read more.</i></h6>
      {% else %}
        <h4>"{{ entry.Quote }}"</h4>
        <h6><span class="soundcite" data-url="{{ entry.Audio }}" data-start="0" data-end="{{ entry.AudioEnd }}" data-plays="1"><i>Listen.</i></span></h6>
      {% endif %}
    </div>
    <div id="town-height">
      <h5>{{ entry.Name }}</h5>
      <h5>{{ entry.Town }}</h5>
    </div>
  </li>
</a>
