{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<a href="{{url_for('index')}}" alt="{{ Home }}"><img class="img-responsive" src="./static/img/vpr-100-trump.jpg"></a>

<div class="container">
  <div class="row">

      {% if landing %}

        <div class="col-md-12">
          <div class="intro-text">
            <h1>Vermont's Response: Trump's First 100 Days</h1>
            <br>
            <h4>Vermont Public Radio spent the past few weeks gathering reactions to the first 100 days of the Trump administration. We wanted to know if anything about President Trump surprised you or concerned you or made you feel relieved. Most of all, we wanted to check the pulse of the region in this moment, nearly 100 days in.</h4>
            <h4>We asked a simple question: <b>How are you feeling?</b></h4>
            <h4>Here is some of what we heard.</h4>
            <h4><i>Inclusion in this project does not represent an endorsement from VPR. We did our best to include comments that represent the many views we heard.</i></h4>
          </div>
        </div>

      {% endif %}

      <div class="col-md-12">
        <ul class="flex-container">
          {% for entry in entries %}
            {% if landing %}
              {% include "_profiles.html" %}
            {% else %}
              {% if loop.first %}
                {% include "_profile_view.html" %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% include "_navigation.html" %}

    {% if landing %}

    <div class="intro-text">
      <div class="col-md-12">
        <br>
        <br>
        <h1><a class="name" href="{{url_for('contribute_page')}}" alt="{{ Contribute }}"> > Share your thoughts</a></h1>
      </div>
    </div>

      <div class="intro-text">
        <div class="col-md-12">
          <br>
          <h1>Credits</h1>
          <h4>This is a project from Vermont Public Radio. Kevin Whipple created the illustration.</h4>
          <br>
        </div>
      </div>

    {% endif %}

  </div>
</div>

{% endblock %}
