{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<a href="{{url_for('index')}}"><img class="img-responsive" src="./static/img/vpr-100-trump.jpg" alt="Trump Illustration"></a>


<div class="container">
  <div class="row">

    <div class="intro-text">
      <div class="col-md-6">
        <br>
        <h1>Record your thoughts:</h1>
        <h4>Use the built-in Voice Memo feature on a smartphone to record.</h4>
       </div>

       <div class="col-md-6">
        <br>
        <h1>Share a note:</h1>
        <h4>Too much work to record yourself? No sweat.</h4>
       </div>
      </div>

      <div class="intro-text">
        <div class="col-md-12">
          <br>
          <h4>Send your thoughts to share@vpr.net and we may include your submission in the project.</h4>
          <br>
          <h1><a class="name" href="{{url_for('index')}}" alt="{{ Home }}"> > Explore the project</a></h1>
          <br>
        </div>
      </div>

  </div>
</div>

{% endblock %}
