{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<a href="{{url_for('index')}}" alt="{{ Home }}"><img class="img-responsive" src="./static/img/vpr-100-trump.jpg"></a>

<div class="container">
  <div class="row">

      {% if landing %}

        <div class="col-md-12">
          <div class="intro-text">
            <h1>Vermont's Response: 100 Days of President Trump</h1>
            <h5>from Vermont Public Radio</h5>
            <h5>April 2017</h5>
            <br>
            <h4>We've spent the past few weeks gathering reactions to the first 100 days of the Trump administration. We wanted to know if anything about President Trump has surprised you or concerned you or made you feel relieved. Have you felt different these past 100 days? Have you changed? Has your community changed?</h4>
            <h4>Most of all, we wanted to check the pulse of the region in this moment, nearly 100 days in.</h4>
            <h4>We asked a simple question: <b><i>How are you feeling?</b></i></h4>
            <h4>Here is some of what we heard.</h4>
            <br>
          </div>
        </div>

      {% endif %}

      <div class="col-md-12">
        <ul class="flex-container">
          {% for entry in entries %}
            {% if landing %}
              {% include "_profiles.html" %}
            {% else %}
              {% if loop.first %}
                {% include "_profile_view.html" %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      {% include "_navigation.html" %}

    {% if landing %}

    <div class="intro-text">
      <div class="col-md-12">
        <br>
        <h1><a class="name" href="{{url_for('share_page')}}" alt="{{ Share }}"> > Contribute your thoughts.</a></h1>
        <h5><a class="name" href="{{url_for('share_page')}}" alt="{{ Share }}">Follow the instructions here.</a></h5>
      </div>
    </div>

      <div class="intro-text">
        <div class="col-md-12">
          <br>
          <h1>Credits</h1>
          <h5>Project Direction: Jonathan Butler & Sara Simon</h5>
          <h5>Illustration: Kevin Whipple</h5>
          <h5>With support from Mary Williams, the Vermont Edition team and the VPR newsroom.</h5>
        </div>
      </div>

    {% endif %}

  </div>
</div>

{% endblock %}
