{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<div class="container {% if landing %}landing{% else %}entry_page{% endif %}">
  <div class="row">
    <div class="col-md-12">
      <div class="intro-text">
        <h1>We're nearly 100 days into the Trump administration.</h1>
        <h1>We want to hear from you:</h1>
        <h2>
          <div id="question-1">Has Vermont changed?</div>
          <div id="question-2">Have you changed?</div>
          <div id="question-3">Are you concerned?</div>
          <div id="question-3">Are you optimistic?</div>
        </h2>
        <h3>Add your voice to a new Vermont Public Radio project.</h3>
        <h3>Record your thoughts, and send a short voice memo to share@vpr.net</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
