{% extends "base.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<a href="{{url_for('index')}}"><img class="img-responsive" src="./static/img/vpr-100-trump.jpg" alt="Trump Illustration"></a>


<div class="container">
  <div class="row">

    <div class="intro-text">
      <div class="col-md-12">
        <br>
        <h1>Sorry</h1>
        <h4>We are no longer accepting submissions.</h4>
       </div>
     </div>


      <div class="intro-text">
        <div class="col-md-12">
          <br>
          <h1><a class="name" href="{{url_for('index')}}" alt="{{ Home }}"> > Explore the project</a></h1>
          <br>
        </div>
      </div>

  </div>
</div>

{% endblock %}
